* {
  --darkColor: #171717;
  --lightColor: #5d5d5d;
  --blueAccent: #4294d8;
  --lightGrey: #ececec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

.home-section {
  color: white;
  display: flex;
  height: 80vh;
  position: relative; /* Positioning context for absolute elements */
}

.left-side {
  background-color: var(--darkColor);
  width: 40vw;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
}

.block {
  position: absolute;
  left: 0;
  background-color: var(--lightColor);
  padding: 10px;
  opacity: 0.7;
}

#block1 {
  top: 200px;
  width: 150px;
}

#block2 {
  top: 250px;
  width: 250px;
}

#block3 {
  top: 300px;
  width: 300px;
}
.introduction {
  margin-top: 40vh;
  margin-left: 10%;
}

.introduction h2 {
  margin-bottom: -10px;
  font-weight: 400;
}

.introduction h2,
h3 {
  font-size: 2rem;
}

.introduction h4 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--blueAccent);
  width: 250px;
  padding: 3px 10px;
}

.right-side {
  background-color: var(--lightColor);
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  font-weight: 400;
  font-size: 1rem;
  margin: 10px 25px 5.5px;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent; /* Reserve space for the border */
  transition: border-color 0.2s ease; /* Smooth transition */
}

.navbar a:hover {
  border-bottom-color: var(--blueAccent); /* Change only the color on hover */
}

.right-side img {
  width: 100%;
  height: 94%;
  object-fit: cover; /* Covers the entire area while maintaining aspect ratio */
  filter: grayscale(100%);
}

.about-section {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  height: 75vh;
  background-color: var(--lightGrey);
  position: relative; /* Ensure this is the containing block */
}

.about-img {
  position: relative; /* Contains the ::before pseudo-element */
}

.about-img img {
  position: relative;
  z-index: 1; /* Ensure the image is on top */
  width: 400px;
  filter: grayscale(100%);
}

.about-img::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -60px; /* Offset the block to the left */
  height: 400px;
  width: 401px; /* Adjust width to cover and offset */
  background-color: var(--darkColor);
  z-index: 0; /* Ensure it's behind the image */
}

.about-me {
  max-width: 500px;
  height: 400px;
  margin-left: 150px;
}

.about-me h2 {
  position: relative;
  z-index: 1;
}

.about-me h2::before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 3px;
  height: 30%;
  width: 180px;
  background-color: var(--blueAccent);
  z-index: -1;
}

.projects-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

.projects-section h1 {
  margin-top: -30px;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  gap: 20px;
}

.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
  border-radius: 4px;
  width: 350px;
  height: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: scale(1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1049px) {
  .home-section {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .block {
    display: none;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .left-side {
    height: 240px;
    padding-top: 70px;
    padding-bottom: 200px;
  }

  .navbar {
    align-items: flex-start;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--lightColor);
    z-index: 10; /* Ensure navbar is on top */
  }

  .right-side {
    background-color: var(--darkColor);
    display: flex;
    flex-direction: column-reverse; /* Reverses the order of the children */
    align-items: center;
  }

  .right-side img {
    width: 100%; /* Ensure the image fits properly */
  }

  .introduction {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 90%;
    text-align: center;
    align-items: center;
    z-index: 1;
  }

  .introduction h4 {
    margin-top: 10px;
  }

  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    height: auto;
    margin-bottom: 20px; /* Ensure there's space for following elements */
  }

  .about-img {
    display: flex;
    justify-content: center;
  }

  .about-img::before {
    display: none;
  }

  .about-img img {
    width: 60%;
  }

  .about-me {
    margin: 20px 0;
    width: 90%;
    height: auto;
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
